input, select{
    margin-bottom: 0px 3em;
}
#div_sesion{
    padding: 2em;
    height: auto;
}
#div_sesion input{
    margin-bottom: 2em;
}    

#btnIngresar{
    position: absolute;
    bottom: 80px;
}

#sct_iniciar_sesion .popup-content {
    width: 50%;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    height: auto;
}


/* Estilos del input de contrasenna */
#divContrasenna{
    width: 100%;
    border: none;
    background-color: white;
    display: flow-root;
    position: relative;
}
#divContrasenna a{
    color: rgba(41, 148, 130, .5);
    border-bottom: 0;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 0px;
}
#divContrasenna a:hover{
    color: rgba(41, 148, 130, .9);
}
#crearCuenta{
    display: block;
    margin-top: 5em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    color: #6BCABA;
    font-weight: 700;
}

main{
    background-image: url('../img/shells.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 450px;
}

#sct_lugares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 150px;
}
.ficha-imagen{
    width: 250px;
    height: 350px;
    grid-gap: 20px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 200px 1fr;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .1);
    margin: 3em;
}
.ficha-imagen div{
    margin: 0px auto;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ficha-imagen p {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.text-box-border-index {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, .16);
    position: relative;
    width: 55%;
    bottom: -450px;
    padding: 15px;
    background-color: white;
    margin: 5em auto;
    height: auto;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .1);
    width: 45%;
}

#sct_iniciar_sesion from div{

    margin-bottom: 3em;
}