main{
    padding: 5em 0;
    
    min-height: 420px;
}

#sct_lista{
    width: 80%;
    display: grid;
    grid-gap: 15px 0px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "busqueda inputBusqueda"
    "tabla tabla";
    margin: 0 auto;
}
.busqueda{
    grid-area: busqueda;
    position: relative;
    background-color: rgba(4, 58, 81, 0.5);
    box-shadow:inset 0px 0px 0px 100px rgba(0, 0, 0, 0.35);
    line-height: 50px;
}
.busqueda label{
    color: white;
}
.inputBusqueda{
    grid-area: inputBusqueda;
}
div.inputBusqueda input{
    height: 48px;
    border: none;
    padding-left: 0px 3%;
    width: 97%;
}
.grid-tabla{
    grid-area: tabla;
}

main table{
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}
main table thead tr{
    background-color: #25627D;
}
main table tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

main table thead th{
    color: white;
    padding: 20px;
    font-size: 1.3em;
}
main table tbody{
    background-color: #fff;
    display: table-row-group;
}

tbody td{
    color: #212121;
    border-bottom: 1px solid #999;
    padding: 16px;
    font-weight: 700;
}