main {
    padding: 5em 0;
    min-height: 420px;
}

#sct_lista {
    width: 95%;
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "busqueda inputBusqueda" "tabla tabla";
    margin: 0 auto;
}

.busqueda {
    grid-area: busqueda;
    position: relative;
    background-color: rgba(4, 58, 81, 0.5);
    box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.35);
    line-height: 50px;
}

.busqueda label {
    color: white;
}

.inputBusqueda {
    grid-area: inputBusqueda;
}

div.inputBusqueda input {
    height: 48px;
    border: none;
    padding-left: 0px 3%;
    width: 97%;
}

.grid-tabla {
    grid-area: tabla;
}

main table {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

main table thead tr {
    background-color: #25627D;
}

main table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

main table thead th {
    color: white;
    padding: 20px;
    font-size: 1.3em;
}

main table tbody {
    background-color: #fff;
    display: table-row-group;
}

tbody td {
    color: #212121;
    border-bottom: 1px solid #999;
    padding: 10px;
    font-weight: 700;
    position: relative;
}

table td a {
    color: #25627D;
    padding: 10px;
}

table td a:hover {
    color: rgb(52, 156, 201);
}

[name="btnTabla"] {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(23, 106, 144, .7);
    height: 20px;
    width: 80px;
    box-shadow: 0 0 1em 0px rgba(0, 0, 0, .16);
}

[name="btnTabla"]>span.fas.fa-book {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

[name="btnTabla"]:hover {
    background-color: rgba(23, 106, 144, .9);
}

[name="btnTabla"]:hover>span.fas.fa-book {
    color: rgba(255, 255, 255, 0.4);
}

/* The popup (background) */

.popup-bg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* popup Content Box */

#sct_detalles .popup-content {
    background-color: white;
    width: 80%;
    height: 500px;
    margin: 0px auto;
    padding: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "mapa contacto contacto"
}

.mapa {
    grid-area: mapa;
    display: grid;
    font-size: 2em;
}

.contacto {
    grid-area: contacto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: .6fr 1fr;
    position: relative;
    text-align: center;
    align-items: center;
    border: 1px solid #6BCABA;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .1);
}

.contacto h1 {
    font-size: 1.5em;
}

.mapa span {
    padding-bottom: 10px;
    font-size: 1.35em;
    border-bottom: solid 1px #21212179;
}

.tel {
    grid-area: tel;
}

.correo {
    grid-area: correo;
}

.popup-content #mapa {
    width: 350px;
}

/* Estilos de las estrellas */

#sct_ranking .popup-content {
    background-color: white;
    width: 80%;
    height: 300px;
    margin: 0px auto;
    padding: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 20px;
}
#sct_ranking .popup-content label{
    padding: 0px;
}
#sct_ranking div{
    position: relative;
    text-align: center;
}


#sct_ranking h1{
    font-size: 1.6em;
}

#sct_ranking i{
    font-size: 3em;
    color: orange;
}
#sct_ranking span{
    font-size: 4em;

}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    padding: 20px 0px;
    direction: rtl;
    unicode-bidi: bidi-override;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .4);
    display: inline;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
.clasificacion label{
    display: inline;
}

label:hover, label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

#btnCalificar{
    position: relative;
    top: 35px;
    text-align: center;
    background-color: rgba(23, 106, 144, .7);
    box-shadow: 0 0 1em 0px rgba(0, 0, 0, .16);
}

#btnCalificar:hover {
    background-color: rgba(23, 106, 144, .9);
}
